<table class="table--independent-row">
  <caption>Optional table caption.</caption>
  <thead>
    <tr>
      <th>#</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Username</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td data-th="#"><span class="table--independent-row__cell-wrapper">1</span></td>
      <td data-th="First Name"><span class="table--independent-row__cell-wrapper">Jane</span></td>
      <td data-th="Last Name"><span class="table--independent-row__cell-wrapper">Doe</span></td>
      <td data-th="Username"><span class="table--independent-row__cell-wrapper">jdoe</span></td>
    </tr>
    <tr>
      <td data-th="#"><span class="table--independent-row__cell-wrapper">2</span></td>
      <td data-th="First Name"><span class="table--independent-row__cell-wrapper">Jamie</span></td>
      <td data-th="Last Name"><span class="table--independent-row__cell-wrapper">Morgan</span></td>
      <td data-th="Username"><span class="table--independent-row__cell-wrapper">jmorgan</span></td>
    </tr>
    <tr>
      <td data-th="#"><span class="table--independent-row__cell-wrapper">3</span></td>
      <td data-th="First Name"><span class="table--independent-row__cell-wrapper">Jacob</span></td>
      <td data-th="Last Name"><span class="table--independent-row__cell-wrapper">Smith</span></td>
      <td data-th="Username"><span class="table--independent-row__cell-wrapper">jsmith</span></td>
    </tr>
  </tbody>
</table>
