.bean-image-and-text.landing_page {
  max-width: 320px;
  min-height: 225px;

  .image-title {
    position: relative;
    margin-bottom: 11px;
  }

  .image {
    line-height: 0;
    overflow: hidden;
    width:100%;
    //height:257px;
    //background-color: gray;
    img{
        width:100%;
        //height:250px;
    }
        
  }

  h2 {
    position: absolute;
    bottom: 0;
    margin: 0;
    width: 100%;
    color: color(white);
    background-color: #42414d;
    padding: 0.5em 0.3em;
    font-family: $font-body;
    font-weight: normal;
    font-size: .8em;
    line-height: 1em;
    

    @include bp-nq($medium) {
      font-size: 1.1em;
    }
 
    &:after {
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      content: '';
      background-image: image-url('arrow.svg');
      background-repeat: no-repeat;
      background-position: center center;
      height: 100%;
      width: 42px;
      //background-color: color(red);
      display:none;
      
      @include bp-nq($medium) {
       display:block;
      }
      
    }
    

    a {
      display: inline-block;
      text-decoration: none;
      color: inherit;
      line-height: 1.2;
      padding-right: (42px + 7px);            
    }
  }
}
.panel-2col-bricks {
  position:relative;
}

.panel-3col-33-stacked {
   position: relative;
   .center-wrapper .panel-panel {
      @include bp-nq($medium) {
        width:33.3% !important;
        float:left !important;
      }
      
      .inside {margin:0;}
   }
}

.panel-col-first // Landing page
{
  width:100% !important;
  .panel-pane:nth-child(1){
    h2:after{
      background-color: #004e72;
    }
  }
  .panel-pane:nth-child(2){
    h2:after{
      background-color: #4f7c92;
    }
  } 
  @include bp-nq($medium) {
    .inside {margin: 0 0.5em 1em 0 !important;}
  }
 
}

.panel-col // Landing page
{
  width:100% !important;
 .panel-pane:nth-child(1){
    h2:after{
      background-color: #004e72;
    }
  }
  .panel-pane:nth-child(2){
    h2:after{
      background-color: #4f7c92;
    }
  }  
  @include bp-nq($medium) {
    .inside {margin: 0 0.25em 1em 0.25em !important;}
  }
  
}

.panel-col-last // Landing page
{
  width:100% !important;
  float:left !important;
  .panel-pane:nth-child(1){
    h2:after{
      background-color:  #006a96; 
    }
  }
  .panel-pane:nth-child(2){
    h2:after{
      background-color: #737581;
    }
  }
  @include bp-nq($medium) {
    .inside {margin: 0 0 1em 0.5em !important;}
  }

}
      
.panel-col-bottom .panels-ipe-portlet-wrapper, // For logged in user
.panel-col-bottom .panel-pane, // Frontpage
.panel-col-middle .panel-pane // Landing page
{
  &:nth-of-type(n) .bean-image-and-text.landing_page h2:after {
    background-color: color(orange) !important;
  }

  &:nth-of-type(2n) .bean-image-and-text.landing_page h2:after {
    background-color: color(green) !important;
  }

  &:nth-of-type(3n) .bean-image-and-text.landing_page h2:after {
    background-color: color(blue) !important;
  }

  &:nth-of-type(4n) .bean-image-and-text.landing_page h2:after {
    background-color: color(red) !important;
  }
}
