// Full one column layout
//
// Markup: layout-full.html
//
// Styleguide: layouts.full

.layout-full,
%layout-full {
  padding: 0 $gutter;
  margin: 25px 0;
}
.not-front{
   background: #83ADBB url(../images/bg.jpg) 0 0 no-repeat;
}